<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag 'releases/yeti.css-7.1.0-main.css' %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "nav" %>
    <div class='container'>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
